flows (1).json
[{"id":"f43bfe8c.5110e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"f43bfe8c.5110e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","x":140,"y":80,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"f43bfe8c.5110e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"376e051d.ae9b4a","type":"debug","z":"f43bfe8c.5110e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"b203b48b.dc7e38","type":"cloudant in","z":"f43bfe8c.5110e","name":"","cloudant":"","database":"babycare","service":"node-red-lbqri-2021--cloudant-1624881803729-90491","search":"_all_","design":"","index":"","x":300,"y":140,"wires":[["376e051d.ae9b4a","2c8c01bb.7a17fe","7a09ec4d.289104","3104f6be.4089aa"]]},{"id":"17121677.d450fa","type":"inject","z":"f43bfe8c.5110e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["b203b48b.dc7e38"]]},{"id":"2c8c01bb.7a17fe","type":"function","z":"f43bfe8c.5110e","name":"","func":"msg.payload=msg.payload[0].babyGood\nglobal.set('babygood',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":180,"wires":[["376e051d.ae9b4a"]]},{"id":"7a09ec4d.289104","type":"function","z":"f43bfe8c.5110e","name":"","func":"global.set('babycry',msg.payload[0].babyCry)\nmsg.payload= msg.payload[0].babyCry\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":240,"wires":[["376e051d.ae9b4a","e3f1060.235dff8"]]},{"id":"3104f6be.4089aa","type":"function","z":"f43bfe8c.5110e","name":"","func":"msg.payload = msg.payload[0].babycru\nglobal.set('babycru',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["376e051d.ae9b4a"]]},{"id":"8e0c7542.2e0f38","type":"watson-text-to-speech","z":"f43bfe8c.5110e","name":"kavya","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"en-US_KevinV3Voice","format":"audio/wav","password":"","apikey":"lYAkgG76W82IFNHJYTduxMTQC3rjhO_1wqtcAur7sHoa","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/28138bba-3d26-413e-a775-15e00d296b57","x":290,"y":380,"wires":[["81f93b76.010f88"]]},{"id":"eda44b73.036398","type":"inject","z":"f43bfe8c.5110e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"babycry","payloadType":"str","x":130,"y":380,"wires":[["8e0c7542.2e0f38"]]},{"id":"81f93b76.010f88","type":"play audio","z":"f43bfe8c.5110e","name":"","voice":"0","x":450,"y":400,"wires":[]},{"id":"c54b19c6.799ed8","type":"debug","z":"f43bfe8c.5110e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":480,"wires":[]},{"id":"8a6d25a6.0a9f68","type":"ui_button","z":"f43bfe8c.5110e","name":"playmusic","group":"d1d975a4.05ee18","order":0,"width":0,"height":0,"passthru":false,"label":"playmusic","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"playmusic\"}","payloadType":"json","topic":"topic","topicType":"msg","x":220,"y":440,"wires":[["c54b19c6.799ed8"]]},{"id":"34cfa8ed.c41988","type":"ui_button","z":"f43bfe8c.5110e","name":"rotatetoys","group":"d1d975a4.05ee18","order":1,"width":0,"height":0,"passthru":false,"label":"rotatetoys","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"rotatetoys\"}","payloadType":"json","topic":"topic","topicType":"msg","x":220,"y":500,"wires":[["c54b19c6.799ed8"]]},{"id":"e0d1a92.937f458","type":"http in","z":"f43bfe8c.5110e","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":190,"y":560,"wires":[["2e1e9862.c70428"]]},{"id":"10e91ce1.2e8123","type":"http response","z":"f43bfe8c.5110e","name":"","statusCode":"","headers":{},"x":530,"y":560,"wires":[]},{"id":"2e1e9862.c70428","type":"function","z":"f43bfe8c.5110e","name":"","func":"msg.payload={\"babygood\":global.get('babygood'),\"babycry\":global.get('babycry'),\"babycru\":global.get('babycru')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":560,"wires":[["10e91ce1.2e8123"]]},{"id":"48402d56.4008c4","type":"switch","z":"f43bfe8c.5110e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":280,"wires":[["bb00a18e.484d3"]]},{"id":"bb00a18e.484d3","type":"http request","z":"f43bfe8c.5110e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=NnXwyiDQ1dlW5xuzCqbGhmL36fFJkAPSa4R7OpT2co08U9VeKHKWVL7fzrMYHpoiXgPOU2DTZFRbaw5y&message=babycry&language=english&route=q&numbers=9542509329","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":340,"wires":[["c0368f8.bd2f37"]]},{"id":"c0368f8.bd2f37","type":"debug","z":"f43bfe8c.5110e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]},{"id":"e3f1060.235dff8","type":"rbe","z":"f43bfe8c.5110e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":710,"y":220,"wires":[["48402d56.4008c4"]]},{"id":"40c37c6d.2e7794","type":"http response","z":"f43bfe8c.5110e","name":"","statusCode":"","headers":{},"x":530,"y":620,"wires":[]},{"id":"d30d4fa2.c18e6","type":"http in","z":"f43bfe8c.5110e","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":620,"wires":[["3829c16b.09339e"]]},{"id":"3829c16b.09339e","type":"function","z":"f43bfe8c.5110e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":620,"wires":[["40c37c6d.2e7794","c899bbeb.676408"]]},{"id":"c899bbeb.676408","type":"debug","z":"f43bfe8c.5110e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":680,"wires":[]},{"id":"a4d4c36b.c0865","type":"http in","z":"f43bfe8c.5110e","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":170,"y":760,"wires":[["fe2eaa01.98a0e8"]]},{"id":"5a3171c8.2ffb4","type":"http response","z":"f43bfe8c.5110e","name":"","statusCode":"","headers":{},"x":510,"y":760,"wires":[]},{"id":"fe2eaa01.98a0e8","type":"function","z":"f43bfe8c.5110e","name":"http response","func":"msg.payload={\"babycry\":global.get('babycry')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":760,"wires":[["5a3171c8.2ffb4"]]},{"id":"d1d975a4.05ee18","type":"ui_group","name":"Default","tab":"ba7283ac.614da","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba7283ac.614da","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]