flows (1) (1).json
[{"id":"f43bfe8c.5110e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"376e051d.ae9b4a","type":"debug","z":"f43bfe8c.5110e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"2c8c01bb.7a17fe","type":"function","z":"f43bfe8c.5110e","name":"","func":"msg.payload=msg.payload.d.BabyGood\nglobal.set('BabyGood',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["376e051d.ae9b4a"]]},{"id":"3104f6be.4089aa","type":"function","z":"f43bfe8c.5110e","name":"","func":"msg.payload = msg.payload.d.Babycry\nglobal.set('Babycry',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["376e051d.ae9b4a","e3f1060.235dff8"]]},{"id":"8e0c7542.2e0f38","type":"watson-text-to-speech","z":"f43bfe8c.5110e","name":"kavya","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"en-US_KevinV3Voice","format":"audio/wav","password":"","apikey":"lYAkgG76W82IFNHJYTduxMTQC3rjhO_1wqtcAur7sHoa","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/28138bba-3d26-413e-a775-15e00d296b57","x":290,"y":380,"wires":[["81f93b76.010f88"]]},{"id":"eda44b73.036398","type":"inject","z":"f43bfe8c.5110e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"babycry","payloadType":"str","x":130,"y":380,"wires":[["8e0c7542.2e0f38"]]},{"id":"81f93b76.010f88","type":"play audio","z":"f43bfe8c.5110e","name":"","voice":"0","x":490,"y":380,"wires":[]},{"id":"e0d1a92.937f458","type":"http in","z":"f43bfe8c.5110e","name":"http in","url":"/babycare","method":"get","upload":false,"swaggerDoc":"","x":190,"y":560,"wires":[["2e1e9862.c70428"]]},{"id":"10e91ce1.2e8123","type":"http response","z":"f43bfe8c.5110e","name":"","statusCode":"","headers":{},"x":530,"y":560,"wires":[]},{"id":"2e1e9862.c70428","type":"function","z":"f43bfe8c.5110e","name":"","func":"msg.payload={\"babyGood\":global.get('babyGood'),\"babyCry\":global.get('babyCry'),\"babycry\":global.get('babycry')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":560,"wires":[["10e91ce1.2e8123"]]},{"id":"48402d56.4008c4","type":"switch","z":"f43bfe8c.5110e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":280,"wires":[["bb00a18e.484d3"]]},{"id":"bb00a18e.484d3","type":"http request","z":"f43bfe8c.5110e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=NnXwyiDQ1dlW5xuzCqbGhmL36fFJkAPSa4R7OpT2co08U9VeKHKWVL7fzrMYHpoiXgPOU2DTZFRbaw5y&message=babycry&language=english&route=q&numbers=9542509329","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":340,"wires":[["c0368f8.bd2f37"]]},{"id":"c0368f8.bd2f37","type":"debug","z":"f43bfe8c.5110e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]},{"id":"e3f1060.235dff8","type":"rbe","z":"f43bfe8c.5110e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":710,"y":220,"wires":[["48402d56.4008c4"]]},{"id":"40c37c6d.2e7794","type":"http response","z":"f43bfe8c.5110e","name":"","statusCode":"","headers":{},"x":610,"y":700,"wires":[]},{"id":"d30d4fa2.c18e6","type":"http in","z":"f43bfe8c.5110e","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":680,"wires":[["3829c16b.09339e"]]},{"id":"3829c16b.09339e","type":"function","z":"f43bfe8c.5110e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":680,"wires":[["40c37c6d.2e7794","c899bbeb.676408","4301f6fa.1d71c8"]]},{"id":"c899bbeb.676408","type":"debug","z":"f43bfe8c.5110e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":640,"wires":[]},{"id":"a4d4c36b.c0865","type":"http in","z":"f43bfe8c.5110e","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":170,"y":760,"wires":[["fe2eaa01.98a0e8"]]},{"id":"5a3171c8.2ffb4","type":"http response","z":"f43bfe8c.5110e","name":"","statusCode":"","headers":{},"x":510,"y":760,"wires":[]},{"id":"fe2eaa01.98a0e8","type":"function","z":"f43bfe8c.5110e","name":"http response","func":"msg.payload={\"Babycry\":global.get('Babycry')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":760,"wires":[["5a3171c8.2ffb4"]]},{"id":"193e9e96.cf1ec1","type":"ibmiot in","z":"f43bfe8c.5110e","authentication":"apiKey","apiKey":"6778aee8.6bae8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":160,"wires":[["376e051d.ae9b4a","2c8c01bb.7a17fe","3104f6be.4089aa","bc0097b6.530aa8"]]},{"id":"bc0097b6.530aa8","type":"function","z":"f43bfe8c.5110e","name":"Temperature","func":"msg.payload=msg.payload.d.Temperature\nglobal.set('Temperature',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":160,"wires":[["376e051d.ae9b4a"]]},{"id":"b5d5cadf.3c0b78","type":"ui_button","z":"f43bfe8c.5110e","name":"","group":"d1d975a4.05ee18","order":2,"width":0,"height":0,"passthru":false,"label":"Rotate Toys","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"rotatetoys\"}","payloadType":"json","topic":"topic","topicType":"msg","x":240,"y":860,"wires":[["4301f6fa.1d71c8","82e5c48e.0430c8"]]},{"id":"1070f844.b9f3a8","type":"ui_button","z":"f43bfe8c.5110e","name":"","group":"d1d975a4.05ee18","order":1,"width":0,"height":0,"passthru":false,"label":"Play Music","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"playmusic\"}","payloadType":"json","topic":"topic","topicType":"msg","x":240,"y":940,"wires":[["82e5c48e.0430c8","4301f6fa.1d71c8"]]},{"id":"4301f6fa.1d71c8","type":"ibmiot out","z":"f43bfe8c.5110e","authentication":"apiKey","apiKey":"6778aee8.6bae8","outputType":"cmd","deviceId":"12345","deviceType":"ESP32","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":460,"y":860,"wires":[]},{"id":"82e5c48e.0430c8","type":"debug","z":"f43bfe8c.5110e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":920,"wires":[]},{"id":"b49e6815.414c98","type":"ibmiot in","z":"f43bfe8c.5110e","authentication":"apiKey","apiKey":"6778aee8.6bae8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":1020,"wires":[["3a197912.1c8d66"]]},{"id":"3a197912.1c8d66","type":"cloudant out","z":"f43bfe8c.5110e","name":"babycare","cloudant":"","database":"babycare","service":"node-red-lbqri-2021--cloudant-1624881803729-90491","payonly":false,"operation":"insert","x":250,"y":1140,"wires":[]},{"id":"6778aee8.6bae8","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"emnnr1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d1d975a4.05ee18","type":"ui_group","name":"Default","tab":"ba7283ac.614da","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba7283ac.614da","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]